@charset "UTF-8";
/*!
    Custom CSS for SEOgnals Client Project
 */

.m-widget24 .m-widget24__item .m-widget24__title {
    padding-bottom: .5rem;
}
.m-dropdown.m-dropdown--align-center.m-dropdown--large .m-dropdown__wrapper.m-dropdown__search {
    width: 260px;
    margin-left: -130px;
}
.m-aside-menu .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__link .m-menu__link-icon {
    width: 27px;
}
.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__submenu>.m-menu__subnav>.m-menu__item>.m-menu__link {
    padding-left: 65px;
}
.btn.m-btn--custom.m-btn--icon {
    padding-left: 1.5rem;
}
.m-widget24 .m-widget24__item--seognals .m-widget24__title {
    margin-left: 1.8rem;
    margin-top: 0;
    font-size: 1.5rem;
}
.m-widget24 .m-widget24__item--seognals-form .m-widget24__title {
    margin-top: 1.5rem;
    padding-bottom: 0;
}
.m-widget24 .m-widget24__item--seognals .m-widget24__stats {
    float: none;
    display: block;
    font-size: 2.75rem;
    margin-left: 1.8rem;
    margin-top: .1rem;
}
.m-widget24__icon {
    display: block;
    position: absolute;
    font-size: 4.5rem;
    top: 0;
    right: 1rem;
}
.m-widget24 .m-widget24__item--seognals-order .m-widget24__title {
    margin-left: 1.8rem;
    margin-top: .8rem;
    font-size: 1.5rem;
    display: block;
}
.m-widget24 .m-widget24__item--seognals-order .m-widget24__desc {
    text-align: right;
}
.m-widget24 .m-widget24__item--seognals-order .m-widget24__stats {
    margin-top: 0;
    margin-bottom: 1rem;
}
.m-widget24__button,
.m-widget24 .m-widget24__item--seognals-order .m-widget24__desc {
    text-align: right;
    margin-right: 1.8rem;
    display: block;
}
.m-widget24__button {
    margin-bottom: 1.8rem;
    clear: both;
}
.item-hidden {
    display: none;
}
.table tbody.table-tbody-hidden {
    border-top-width: 1px;
}
.m-form__group--seognals {
    position: relative;
}
.m-form__help-dot {
    position: absolute;
    left: 0;
    margin: -3rem 0 0 -1rem;
}
.m-portlet.m-portlet--order .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
    font-size: 1.6rem;
    font-weight: 600;
}
.m-portlet.m-portlet--order .m-portlet__price {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1.3rem;
}
.m-portlet.m-portlet--order .m-portlet__body {
    padding-top: .5rem;
}
.m-portlet.m-portlet--order .m-portlet__head-caption {
    position: relative;
}
.m-portlet.m-portlet--order .m-portlet--order__head-icon {
    display: block;
    position: absolute;
    top: 1.2rem;
    right: 0;
    font-size: 1.8rem;
}
.card-img-content {
    max-width: 30%;
}
.card-description {
    max-width: 70%;
}
.card-body > .container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.card-header[data-toggle] {
    cursor: pointer;
}
.cards-accordion .card-header:not(.collapsed) {
    color: #716aca;
}
.cards-accordion-icon__text {
    padding: 0 0 0 3rem;
}
.cards-accordion-icon {
    position: absolute;
    left: 1.5rem;
    top: -.2rem;
    font-size: 1.4rem;

}

/* DataTables */

.m-datatable__table tr {
    height: auto !important;
}
.m-portlet-news .m-list-timeline__text .m-list-timeline__text--header  {
    font-size: 1.8rem !important;
    font-family: 'Roboto';
}
.m-portlet-news .m-list-timeline__text .m-list-timeline--description  {
    font-size: 1rem;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.m-portlet-news .m-list-timeline__items .m-list-timeline__item .m-list-timeline__time {
    vertical-align: top;
}
.m-portlet-news .m-list-timeline .m-list-timeline__items .m-list-timeline__item:first-child:before {
    background-color: #ebedf2;
}
.m-portlet-news .m-list-timeline__items .m-list-timeline__item:first-child:before {
    top: 3rem;
}
.m-portlet-news .m-list-timeline__items:before {
    top: 1.6rem;
}
.m-portlet-news .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge:before {
    top: .9em;
    margin-top: 0;
    left: -3px;
    width: 12px;
    height: 12px;
}

/***
Charts and statistics
***/
.chart,
.pie,
.bars {
    overflow: hidden;
    height: 300px;
    width: 100%;
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px; }

.m-portlet__body--statbox {
    position: relative;
    overflow: hidden;
    text-align: right;
    padding-top: 1rem !important;
}
.m-portlet__body--statbox .visual {
    position: absolute;
    left: -.5rem;
    bottom: -2.5rem;
}
.m-portlet__body--statbox .visual i {
    font-size: 5.5rem;
}
.m-portlet__body--statbox .number {
    font-size: 2.6rem;
    font-family: 'Roboto';
    font-weight: 500;
    display: block;
}
.m-portlet__body--statbox .desc {
    font-size: 1.3rem;
    display: block;
}
.list-group-no-border li {
    border: none;
    padding-left: 0;
    padding-right: 0;
}
.m-portlet .m-portlet__head .m-portlet__head-tools.m-portlet__head-tools-search {
    /*width: 300px;*/
}
.m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell.m-datatable__cell--right>span {
    position: relative;
}
.m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__head .m-datatable__row>.m-datatable__cell.m-datatable__cell--right>span>i {
    right: auto;
    display: block;
    position: absolute;
    left: 10px;
    top: 50%;
}

/***
Chats
***/
.chats {
    margin: 0;
    padding: 0;
    margin-top: -15px; }
.chats li {
    list-style: none;
    padding: 5px 0;
    margin: 10px auto;
    font-size: 12px; }
.chats li:first-child {
    margin-top: 0;
}
.chats li .body {
    display: block; }
.chats li .avatar {
    height: 45px;
    width: 45px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important; }
.chats li.in .avatar {
    float: left;
    margin-right: 10px; }
.chats li.out .avatar {
    float: right;
    margin-left: 10px;
    margin-top: -.2rem;
}
.chats li .name {
    color: #3590c1;
    font-size: 13px;
    font-weight: 400; }
.chats li .datetime {
    color: #333;
    font-size: 13px;
    font-weight: 400;
    margin-left: .7rem;}
.chats li .message {
    display: block;
    font-size: 1rem;
    padding: .75rem 1.3rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
    position: relative; }
.chats li.in .message {
    text-align: left;
    border-left: 2px solid #34bfa3;
    margin-left: 65px;
    background: #fafafa; }

.chats li.in .message .arrow {
    display: block;
    position: absolute;
    top: 5px;
    left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #34bfa3; }
.chats li.out .message {
    border-right: 2px solid #716aca;
    margin-right: 65px;
    background: #fafafa;
    text-align: right; }
.chats li.out .message .arrow {
    display: block;
    position: absolute;
    top: 5px;
    right: -8px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #716aca; }
.chats li.out .name,
.chats li.out .datetime {
    text-align: right; }

.chat-form {
    margin-top: 15px;
    padding: 10px;
    background-color: #e9eff3;
    overflow: hidden;
    border-radius: .25rem;
    clear: both; }
.chat-form .input-cont {
    margin-right: 40px; }
.chat-form .input-cont .form-control {
    border: 1px solid #ddd;
    width: 100%  !important;
    margin-top: 0;
    background-color: #fff !important; }
.chat-form .input-cont .form-control:focus {
    border: 1px solid #4b8df9 !important; }
.chat-form .btn-cont {
    margin-top: -41px;
    position: relative;
    float: right;
    width: 44px; }
.chat-form .btn-cont .arrow {
    position: absolute;
    top: 17px;
    right: 43px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #4d90fe;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.chat-form .btn-cont .btn {
    margin-top: 7px; }
.chat-form .btn-cont:hover .arrow {
    border-right-color: #0362fd;
    transition: all 0.3s; }
.chat-form .btn-cont:hover .btn {
    background-color: #0362fd;
    transition: all 0.3s; }

.chats li .message .arrow {
    top: 12px !important;
}
.chats li.out .message {
    text-align: left;
}
.chats li .avatar {
    font-size: 32px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: .2rem 0 0 1rem;
}
.chat-form .btn-cont:hover .arrow {
    border-right-color: #29b4b6;
    transition: all 0.3s;
}
.chat-form .input-cont .form-control:focus {
    border: 1px solid #29b4b6!important
}
.chat-form .btn-cont:hover .btn {
    background-color: #29b4b6;
    border-color: #29b4b6;
    transition: all 0.3s;
}
.chats {
    margin-top: 0;
}
.chats li .datetime, .chats li .datetime i  {
    font-size: 1rem !important;
}
.chat-form .btn-cont:active .btn,
.chat-form .btn-cont:focus .btn {
    border-color: #196e6f;
}
.chat-form .btn-cont:active .arrow,
.chat-form .btn-cont:focus .arrow {
    border-right-color: #196e6f !important;
    transition: all 0.3s;
}
.ticket-subject {
    margin: 0 0 0 0;
}
.bootstrap-select.form-control.bootstrap-select-inline {
    width: auto;
}
.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.display-table-cell-tabs {
    vertical-align: bottom;
}
.display-table-cell-tabs .nav-tabs {
    margin-bottom: -1px;
}

[class*=m_datatable--seognal] .m-datatable__detail {
    padding: .5rem 0 !important;
    background: none !important;
}
[class*=m_datatable--seognal] .m-datatable__row.m-datatable__row--detail-expanded > td > span {
    color: #716aca !important;
}
[class*=m_datatable--seognal] .m-datatable__table,
[class*=m_datatable--seognal] .m-datatable__body {
    height: auto !important;
}
[class*=m_datatable--seognal] .m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__body .m-datatable__row.m-datatable__row--even>.m-datatable__cell,
[class*=m_datatable--seognal] .m-datatable.m-datatable--default>.m-datatable__table>.m-datatable__body .m-datatable__row.m-datatable__row--hover>.m-datatable__cell {
    background-color: #fff;
}
[class*=m_datatable--seognal] .m-datatable {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.form-info-icon {
    font-size: 1.6rem !important;
    display: inline-block;
    margin: 0 0 .2rem 0;
    vertical-align: middle;
}

.m-tooltip.m-tooltip--skin-dark .tooltip-inner {
    background: #716aca;
}
.m-tooltip.m-tooltip--skin-dark.bs-tooltip-top .arrow::before,
.m-tooltip.m-tooltip--skin-dark.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before {
    border-top-color: #716aca;
}
.m-tooltip.m-tooltip--skin-dark.bs-tooltip-top .arrow::before,
.m-tooltip.m-tooltip--skin-dark.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before {
    border-top-color:#716aca;
}
.m-tooltip.m-tooltip--skin-dark.bs-tooltip-right .arrow::before,
.m-tooltip.m-tooltip--skin-dark.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before {
    border-right-color:#716aca;
}
.m-tooltip.m-tooltip--skin-dark.bs-tooltip-bottom .arrow::before,
.m-tooltip.m-tooltip--skin-dark.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before{
    border-bottom-color:#716aca;
}
.m-tooltip.m-tooltip--skin-dark.bs-tooltip-left .arrow::before,
.m-tooltip.m-tooltip--skin-dark.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before{
    border-left-color:#716aca;
}
.form-control-icon {
    display: inline-block;
    vertical-align: top;
}
.form-control-icon.form-control-icon-left {
    margin: 0 .2rem 0 -.5rem;
}
.dropzone {
    min-height: 50px;
}
.dropzone .dz-message {
    margin: 0 ;
}
.m-form__project--url {
    position: relative;
}
.m-form__project--url_id {
    font-size: 1.2rem;
}
.cards-accordion-project-reports .card-header {
    position: relative;
}
.cards-accordion-project-reports .project-report-caret {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    margin-top: -.9rem;
}
.cards-accordion-project-reports .project-report-caret-table .project-report-caret {
    right: 1.8rem;
    margin-top: -.6rem;
}
.cards-accordion-project-reports .project-report-caret i {
    font-size: 1.8rem;
}
.cards-accordion-project-reports .project-report-caret-table .project-report-caret i {
    font-size: 1.4rem;
}
tr.clickable {
    cursor: pointer;
}
.cards-accordion-project-reports .card-header:not(.collapsed) .fa-angle-right,
.cards-accordion-project-reports .card-header.collapsed .fa-angle-down,
.table-reports-view .clickable.collapsed .fa-angle-down,
.table-reports-view .clickable .fa-angle-right {
    display: none !important;
}
.cards-accordion-project-reports .card-header:not(.collapsed) .fa-angle-down,
.cards-accordion-project-reports .card-header.collapsed .fa-angle-right,
.table-reports-view .clickable.collapsed .fa-angle-right,
.table-reports-view .clickable:not(.collapsed) .fa-angle-down {
    display: block !important;
}
.cards-accordion-project-reports .card-body {
    padding: 0;
}
.cards-accordion-project-reports .card-body .collapsing{
    -webkit-transition: height .01s ease;
    transition: height .01s ease;
}
.table.table-reports-view {
    margin-bottom: 0;
}
.table.table-reports-view thead th {
    background-color: #fbfbfb;
}
.table.table-reports-view thead th {
    background-color: #fbfbfb;
    border-bottom-width: 1px;
    font-size: 1.1rem;
}
.table.table-reports-view tr > th:first-child,
.table.table-reports-view tr > td:first-child {
    padding-left: 1.25rem;
}
.table.table-reports-view .table-reports-view-it1,
.card-header-project-reports-title {
    width: 55%;
}
.table.table-reports-view .table-reports-view-it2,
.card-header-project-reports-title-date {
    width: 25%;
    text-align: center;
}
.text-ellipsis-container {
    position: relative;
    min-height: 23px;
}
.text-ellipsis-container .text-ellipsis {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.project-report-caret-table {
    position: relative;
    margin:  -1rem -.75rem 0 0;
}
.list-group-packages-head {
    margin-top: .55rem;
}
.m-widget7.m-widget-contact .m-widget7__desc {
    margin: 1rem 0;
}
.m-widget7.m-widget-contact .m-widget7__button {
    margin-bottom: 0;
}
.m-portlet-order-view .m-portlet__body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}